#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#navbar{

}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
  border-bottom: .25rem solid transparent;
}

.navbar-custom{
  background-color: rgba(60, 60, 60, 0,8);
  position: absolute;
  justify-content: center;

}
.nav-link{
 border-bottom: transparent solid 1px;
color: #fff;

}
.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
#footer{
/*  margin-top: 30px;*/
 max-height: 100%;
  background-color: rgba(60, 60, 60, 1);
}
.container-fluid{
  /*background-color: rgba(60, 60, 60, 0.5);*/
}


a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }